body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color: #041c32;
  justify-content: center;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 6px;
  overflow: hidden;
  background-color: #041c32;
  z-index: 1;
}

.btn-login {
  position: relative;
  top: 6px;
  left: 31%;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  border-radius: 50px;
  padding: 10px 15px;
  min-width: 100px;
}

.btn-login:hover {
  color: #fff;
  cursor: pointer;
}

.btn-login::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  border-radius: 50px;
}

.btn-out::before {
  transform: scaleX(0);
}

.btn-login:hover::before {
  transform: scaleX(1);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.4s ease-out;
}

a:nth-child(1) {
  width: 150px;
}

li a:hover {
  background-color: #064663;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img2.jpg");
  height: 100%;
  top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  width: 100%;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #916bbf;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
}

::placeholder {
  color: #cac7ff;
}

.search-bar img {
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: white;
  width: 270px;
  margin: 20px;
  border-radius: 10px;
}

.card-image {
  background-color: aqua;
  height: 190px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 9px 9px 0px 0px;
}

.card-1 {
  background-image: url(img2.jpg);
}

.card-2 {
  background-image: url(img3.jpg);
}

.card-3 {
  background-image: url(img-4.jpg);
}

.card-4 {
  background-image: url(img13.jpg);
}

.card-5 {
  background-image: url(img-6.jpg);
}

.card-6 {
  background-image: url(img-7.jpg);
}

.card-7 {
  background-image: url(img-8.jpg);
}

.card-8 {
  background-image: url(img9.jpg);
}

.card h2 {
  padding: 10px;
}

.card p {
  padding: 10px;
}

.middle {
  position: absolute;
  bottom: -90%;
  left: 13%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  background: none;
  border: 2px solid #000;
  text-transform: uppercase;
  padding: 20px 24px;
  min-width: 100px;
  display: block;
  margin: 10px 65px;
  transition: color 0.4s linear;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn1::before {
  transform: scaleX(0);
}

.btn:hover::before {
  transform: scaleX(1);
}

.card-a {
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
}

.card-a:hover {
  background-color: #916bbf;
}

.card-b {
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
}

.card-b:hover {
  background-color: #064663;
}

.contener {
  text-align: center;
  margin-top: 36px;
  transform: translate(1%, -7%);
}

.tbl {
  background: none;
  border: 2px solid #000;
  text-transform: uppercase;
  padding: 20px 24px;
  min-width: 100px;
  display: block;
  margin: 10px 65px;
  transition: color 0.4s linear;
  margin-top: -5%;
  cursor: pointer;
  position: relative;
}

.tbl1:hover {
  color: #fff;
}

.tbl2:hover {
  color: #fff;
}

.tbl::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.tbl1::before {
  transform: scaleY(0);
}

.tbl1:hover::before {
  transform: scaleY(1);
}

.tbl2::before {
  transform: scaleX(0);
}

.tbl2:hover::before {
  transform: scaleX(1);
}

.color {
  width: 100%;
  height: 40%;
  background-color: #916bbf;
}

.background {
  background: #16213e;
}

.content-card {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content-card:hover .content {
  filter: blur(10px);
  transform: scale(0.9);
  opacity: 0.5;
}

.content-card .content:hover {
  filter: blur(0);
  transform: scale(1.1);
  opacity: 1;
}

.content-card .content {
  position: relative;
  width: 300px;
  height: 420px;
  background: #fff;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.content-card .content .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(180px at center 0);
  text-align: center;
  bottom: 36px;
}

.content-card .content .circle h1 {
  color: #fff;
  font-size: 50px;
  padding: 30px 0;
}

.content-card .content .desk-card {
  position: absolute;
  bottom: 10px;
  padding: 20px;
  text-align: center;
}

.content-card .content .desk-card p {
  color: #666;
}

.content-card .content .desk-card a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
  cursor: default;
}

.content-card .content:nth-child(1) .circle,
.content-card .content:nth-child(1) .desk-card a {
  background: #916bbf;
}

.content-card .content:nth-child(2) .circle,
.content-card .content:nth-child(2) .desk-card a {
  background: #5f85db;
}

.content-card .content:nth-child(3) .circle,
.content-card .content:nth-child(3) .desk-card a {
  background: #90b8f8;
}

.content-card .content:nth-child(4) .circle,
.content-card .content:nth-child(4) .desk-card a {
  background: #b8e1dd;
}

.content-card .content:nth-child(5) .circle,
.content-card .content:nth-child(5) .desk-card a {
  background: #9ed2c6;
}

.content-card .content:nth-child(6) .circle,
.content-card .content:nth-child(6) .desk-card a {
  background: #f7ecde;
}

.content-card .content:nth-child(7) .circle,
.content-card .content:nth-child(7) .desk-card a {
  background: #f7a76c;
}

.content-card .content:nth-child(8) .circle,
.content-card .content:nth-child(8) .desk-card a {
  background: #f65a83;
}

.content-card .content:nth-child(9) .circle,
.content-card .content:nth-child(9) .desk-card a {
  background: #9a86a4;
}

.content-card .content:nth-child(10) .circle,
.content-card .content:nth-child(10) .desk-card a {
  background: #85f4ff;
}

.content-card .content:nth-child(11) .circle,
.content-card .content:nth-child(11) .desk-card a {
  background: #1a4d2e;
}

.content-card .content:nth-child(12) .circle,
.content-card .content:nth-child(12) .desk-card a {
  background: #d22779;
}
